extends ./view-template

block styles
  link(href='/public/css/friend-add-style.css', rel='stylesheet', type='text/css')

block content
  body(ng-app='mainCtr')
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header

    #content
      .login-form
        #center
          span#icon.fa.fa-users
          h1 친구추가
        div
          .login-register-form-section
              .input-group
                input#searchText.form-control(type='text',placeholder='친구 아이디를 입력하세요')
                span.input-group-btn
                  input#searchBtn.btn.btn-default(type='submit', value = '검색')

              .panel.panel-primary(ng-controller='AllUser')
                .panel-body
                    ul.chat(ng-repeat='user in alluser')
                      li.left.clearfix
                        span.chat-img.pull-left
                            img.img-circle(src='{{user.userprofileimage}}')
                            {{user.userid}}

              #center
                button#selectFriend.btn.btn-custom(type='submit') OK
                button.btn.btn-custom(type='button', onclick='history.back(-1)') Cancel

block scripts
  script(src='/public/controllers/mainCtr-controller.js')
  script(src='/public/js/refresh-view.js')
