extends ./view-template

block styles
  link(href='/public/css/friend-add-style.css', rel='stylesheet', type='text/css')

block content
  body(ng-app='friendCtr')
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header

    #content
      .login-form
        #center
          span#icon.fa.fa-users
          h1 친구추가
        div
          .login-register-form-section
            form(ng-submit='submit()', ng-controller='friendSearch')
              .input-group
                input#searchText.form-control(type='text', ng-model='friendSearch', placeholder='친구 아이디를 입력하세요')
                span.input-group-btn
                  input#searchBtn.btn.btn-default(type='submit', value = '검색')
               .wrapper
                  p(ng-hide='showme') Search result will appear here!
                  span.friendresult.pull-left(ng-show='showme')
                      img.img-circle(src='{{userprofileimage}}')
                      {{nickname}} ({{userid}})
              #center
                a#btnAddFriend.btn.btn-custom(href='/friend/add/{{userid}}', role='button') OK
                button.btn.btn-custom(type='button', onclick='history.back(-1)') Cancel

block scripts
  script(src='/public/controllers/friendCtr-controller.js')
