extends ./view-template

block styles
    link(href='/public/css/home-style.css', rel='stylesheet', type='text/css')

block content
  nav.navbar.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/main')
          img(src='https://s3-ap-northeast-1.amazonaws.com/unibee/imagesource/unibee_logo.png')

      h5.navbar-text.navbar-right
        | Team FG : 김정민, 박익비

  .jumbotron
    .container
      img.img-responsive.center-block(src='https://s3-ap-northeast-1.amazonaws.com/unibee/imagesource/unibee_icon_shadow.png')
      h2 Welcome to UniBee!
      h3 With UniBee, you can collaborate on projects and share them in real time.
      p
        a.btn.btn-lg.btn-custom(href='/auth/register', role='button') 회원가입
        &nbsp&nbsp&nbsp
        a.btn.btn-lg.btn-custom(href='/auth/login', role='button') 로그인

  .footer
    .container
      img.img-responsive(src='https://s3-ap-northeast-1.amazonaws.com/unibee/imagesource/duksung_logo.png')
