extends ./view-template

block styles
  link(href='/public/css/login-register-style.css', rel='stylesheet', type='text/css')

block content
  nav.navbar.navbar-fixed-top
    .container
      .navbar-header
  .container
    .login-form
      img.img-responsive.center-block(src='https://s3-ap-northeast-1.amazonaws.com/unibee/imagesource/unibee_icon.png')
      h1 회원가입
      div(role='main_page')
        .login-register-form-section
            form(action='/auth/register', method='post', enctype='multipart/form-data')
              input.file-loading(name='userprofile', type='file')

              .input-group
                .input-group-addon
                  i.fa.fa-user
                input.form-control.input-lg(type='text', name='userid', placeholder='User ID (영문,숫자로 된 4~10자)')

              .input-group
                .input-group-addon
                  i.fa.fa-star
                input.form-control.input-lg(type='text', name='nickname', placeholder='Nick name')

              .input-group
                .input-group-addon
                  i.fa.fa-lock
                input.form-control.input-lg(type='password', name='password', placeholder='Password')

              input.btn.btn-custom(type='submit', value='Register')
