body {
  background: #EAE8E8 !important;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li img
{
    width: 50px;
    margin-right: 20px;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.navbar-fixed-top {
    background: #FEE305;
    min-height: 5px;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

#content{
  margin-top: 100px;
}

#icon{
  	font-size:80pt;
}

#center{
  	text-align: center;
    margin-bottom: 10px;
}

.login-register-form-section .btn-custom {
    width: 150px;
    background-color: #FEE305;
    border-color: #FEE305;
    margin-top: 10px;
    border-radius: 5;
    color: #605F5F;

}

.login-register-form-section .btn-custom:hover {
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: #727272;
    border-color: #727272;
    color: #fff;
}

#btnAddFriend{
  text-align: center;
  margin-right: 20px;
}
.friendresult img{
    width: 50px;
    margin-right: 10px;
}
.friendresult {
    padding: 8px;
}

.found{background-color:yellow;}

.panel.panel-primary{
  border-color: #111;
  border-radius: 0px;
  margin-top: 15px;
}

.panel.panel-primary > .panel-heading{
  background-image: none;
  background-color: #111;
  border-radius: 0px;
  color: #ffffff;
}

.panel-body
{
    color: #000;
    overflow-y: scroll;
    height: 250px;
}

.wrapper {
  text-align: center;
  border: 1px dashed #95a5a6;
  height: 70px;
  margin-top: 16px;
  border-radius: 4px;
  position: relative;
  font-size: 15px;
}

.wrapper p {
  line-height: 31px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
